/* ### Styles ### */
#loginForm {
    margin-top: 10%;
}

#aceEditor {
    border: #DADDDF solid 1px;
    font-size: 14px;
}

#editor-toolbar {
    margin-bottom: 2px;
}

#editor-output {
    
}

#editor-errorlist {
    width: 80%;
}

.errorHighlight{
  position:absolute;
  z-index:20;
  background-color:rgba(253, 20, 20, 0.20);
}


/* ### Boostrap Additional ### */
.top-buffer {
    margin-top:20px !important;
}

.bottom-buffer {
    margin-bottom:20px !important;
}

.small-top-buffer {
    margin-top: 5px !important;
}

.small-bottom-buffer {
    margin-bottom: 5px !important; 
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.fixed-panel {
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
}

/* ### Ace Editor ### */
#aceEditor {
    width: 80%;
    min-height: 300px;
}
